.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: wheat;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4caf50;
    color: rgb(14, 13, 13);
    text-decoration: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  